<!-- Expect mobile -->
<div class="navbar-wagon hidden-xs hidden-sm">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
    <p class="clothparency-nav">CLOTHPARENCY</p>
  <% end %>


</div>

<!-- Mobile only -->
<%= link_to root_path, class: "navbar-wagon-brand hidden-md hidden-lg" do %>
  <i class="fa fa-chevron-left chevron-left"></i>
<% end %>
<div class="navbar-wagon hidden-md hidden-lg">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
    <p class="clothparency-nav">CLOTHPARENCY</p>
  <% end %>

</div>
